/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 25 version
*/

.login-grid-container {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

.login-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  margin-bottom: 50px;
}

.login-main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.login-form {
  height: 452px;
  width: 25rem;
  border-top: 2px solid #4475f2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2.4rem 2.2rem 0 2.2rem;
  margin-bottom: 50px;
}

.login-form__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.login-form__password-container {
  position: relative;
}

.login-form__button {
  height: 43px;
  color: white;
}

.login-footer {
  margin-bottom: 40px;
}
