/*Animations*/

@keyframes makeBooksVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes tiltImage {
  to {
    transform: rotate(40deg);
  }
}

@keyframes flyFromLeft {
  from {
    transform: translateX(-50rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes flyFromRight {
  from {
    transform: translateX(60rem);
  }
  to {
    transform: translateX(0);
  }
}

/* Navigation */

.hero-navigation__logo {
  position: relative;
  bottom: 15%;
}

.hero-navigation {
  width: 100%;
  flex-direction: row;
}

.hero-navigation__link {
  margin-right: 40px;
}

.hero-navigation__link:active,
.hero-navigation__link:hover {
  color: #4737ff;
}

.hero-navigation__website-title {
  color: #000000;
  margin-right: 125px;
  margin-left: 10px;
}

.hero-navigation__login-btn {
  background-color: white;
  color: black;
  width: 138px;
  height: 44px;
}

.hero-navigation__login-btn:active {
  background-color: #e7e7e7;
}

/*Hero Section*/
.hero-content {
  margin-top: 54px;
}

/*Hero Left side*/
.hero-section-left {
  align-content: space-between;
  width: 40%;
}

.hero-section-left__main-text {
  font-size: 76px;
  color: #181e4b;
  line-height: 1.1;
}

.hero-section-left__main-text--favbook {
  text-decoration: underline;
}

.hero-section-left__secondary-text {
  width: 80%;
  letter-spacing: -4%;
}

.hero-section-left__start-now-btn {
  height: 60px;
  width: 200px;
  background-color: #4475f2;
  color: white;
  justify-content: center;
  gap: 0.5rem;
}

.hero-section-left__start-now-btn:active {
  background-color: #3c62c2;
}

/* Hero Right side */
.hero-section-right {
  position: relative;
  width: 45%;
  height: 650px;
}

.hero-section-right__picture {
  position: absolute;
  /*transition-duration checks all properties of the element for which it is applied and if any property changes, transition-duration is applied*/
  /*the first value is the duration, the second is the delay*/
  transition: 2000ms transform ease-in-out, 2000ms filter ease-in-out;
  animation: makeBooksVisible;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

.hero-section-right__picture:hover {
  transform: scale(1.1);
  filter: hue-rotate(-0.25turn);
}

.hero-section-right__picture--dompet {
  top: 28%;
  right: 75%;
}

.hero-section-right__picture--mba {
  bottom: 15%;
  right: 45%;
}

.hero-section-right__picture--strangers {
  top: 0;
  right: 50%;
}

.hero-section-right__picture--midnight {
  top: 15%;
  right: 20%;
}

.hero-section-right__cover-bottom {
  right: 0;
  top: 0;
  position: absolute;
  z-index: -2;
}
.hero-section-right__cover-top {
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

/*Features*/

.features-section-container {
  gap: 25%;
}

.feature-section-container__feature-description {
  width: 15%;
}

.feature-section-container__feature-header {
  margin-top: 20px;
  margin-bottom: 28px;
  font-size: 24px;
}

.feature-section-container__feature-img {
  filter: drop-shadow(3px 5px 10px rgb(0 0 0 / 0.3));
  animation-name: tiltImage;
  animation-duration: 1500ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
  transition-duration: 1000ms;
  transition-property: transform;
}

.feature-section-container__feature-img:hover {
  transform: rotate(5deg);
}

/*Services*/
.rent-info-section {
  flex-wrap: wrap;
}

.rent-info-section__paragraph-container {
  width: 25%;
}

.rent-info-section__h3 {
  font-size: 32px;
}

.rent-info__img {
  transition-property: transform;
}

.rent-info__img--move-left {
  animation-name: flyFromLeft;
  animation-duration: 3500ms;
  transition-duration: 3000ms;
}

.rent-info__img--move-right {
  animation-name: flyFromRight;
  animation-duration: 3500ms;
  transition-duration: 3000ms;
}

.rent-info__img:hover {
  transform: scale(1.1);
}

/*Reviews*/

.review-cards-section {
  height: 455px;
  gap: 4.25%;
}

.review-card {
  width: 30.5%;
  height: 100%;
  border: 1px solid #dedede;
  overflow-y: hidden;
}

.review-card__review-avatar {
  width: 149px;
  height: 149px;
}

.review-card__reviewer-name {
  color: #23a6f0;
  margin-bottom: 15px;
}

.review-card__review-text {
  width: 55%;
}

/*Location*/
.location-section__map {
  width: 100%;
  height: 405px;
  border: none;
  margin-bottom: 240px;
}

/*Footer*/

.home-footer-media-section {
  justify-content: space-evenly;
}

.home-footer-media-section__social-icons {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

/*the facebook icon looks cropped*/
/* .home-footer-media-section__social-icons--remove-fill {
  fill: none;
  stroke: black;
  stroke-width: 42px;
} */

.home-footer-media-section__h4 {
  font-size: 24px;
  margin-bottom: 40px;
}

.home-footer-rights-section {
  height: 120px;
  background-color: #4475f2;
}

.home-footer-rights-section__text {
  display: inline-block;
  margin-top: 50px;
  color: white;
  font-size: 14px;
}

.home-footer-media-section__slogan {
  font-size: 20px;
}
