/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 25 version
*/

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #5e6282;
  padding-top: 4.4rem;
}

/*Helper classes*/

.mt-30 {
  margin-top: 30px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-170 {
  margin-top: 170px;
}

.mr-120 {
  margin-right: 120px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ms-120 {
  margin-left: 120px;
}

.gap-20 {
  gap: 20%;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-48 {
  font-size: 48px;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extrabold {
  font-weight: 800;
}

.inactive-link-color {
  color: #9a9ea6;
}

.btn-primary {
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: transform, background-color;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
}

.btn-primary:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.primary-color {
  color: #4475f2;
}

.primary-bg {
  background-color: #4475f2;
}

.color-text-black {
  color: black;
}

.line-height-1-9 {
  line-height: 1.9;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 0.4px 0.7px 3.3px #00000007, 2.9px 5.7px 8px #0000000a,
    8.6px 17.1px 16px #0000000c, 20.2px 40px 31.6px #0000000d,
    59px 117px 80px #0000000f;
  box-shadow: 0.4px 0.7px 3.3px #00000007, 2.9px 5.7px 8px #0000000a,
    8.6px 17.1px 16px #0000000c, 20.2px 40px 31.6px #0000000d,
    59px 117px 80px #0000000f;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.d-flex-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-justify-evenly {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.user-input {
  height: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1.5px solid #dedede;
  margin-top: 10px;
  font-size: 14px;
  color: #5e6282;
  font-weight: 500;
  padding-left: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.user-input::-webkit-input-placeholder {
  font-size: 14px;
  color: #9c9c9c;
  margin-left: 0.5rem;
}

.user-input::-moz-placeholder {
  font-size: 14px;
  color: #9c9c9c;
  margin-left: 0.5rem;
}

.user-input:-ms-input-placeholder {
  font-size: 14px;
  color: #9c9c9c;
  margin-left: 0.5rem;
}

.user-input::-ms-input-placeholder {
  font-size: 14px;
  color: #9c9c9c;
  margin-left: 0.5rem;
}

.user-input::placeholder {
  font-size: 14px;
  color: #9c9c9c;
  margin-left: 0.5rem;
}

.user-input:focus {
  border-color: #4475f2;
}

.user-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.user-input:focus::-moz-placeholder {
  color: transparent;
}

.user-input:focus:-ms-input-placeholder {
  color: transparent;
}

.user-input:focus::-ms-input-placeholder {
  color: transparent;
}

.user-input:focus::placeholder {
  color: transparent;
}

.user-input:invalid:not(focus) {
  border-color: #dedede;
}

.user-input:invalid:focus {
  border-color: #9a0303;
}

.user-input:invalid:not(focus):not(:-moz-placeholder-shown) {
  border-color: #9a0303;
}

.user-input:invalid:not(focus):not(:-ms-input-placeholder) {
  border-color: #9a0303;
}

.user-input:invalid:not(focus):not(:placeholder-shown) {
  border-color: #9a0303;
}

.user-input__field-icon {
  height: 1rem;
  width: 1rem;
  bottom: 0.7rem;
  right: 0.3rem;
}

.user-input__field-icon:hover {
  cursor: pointer;
}

.user-input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="%235E6282" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
