@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #5e6282;
  padding: 70px 0 0 120px;
}

/*Helper classes*/

.mt-30 {
  margin-top: 30px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-170 {
  margin-top: 170px;
}

.mr-120 {
  margin-right: 120px;
}

.mb-10 {
  margin-bottom: 10px;
}

.gap-20 {
  gap: 20%;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-48 {
  font-size: 48px;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extrabold {
  font-weight: 800;
}

.inactive-link-color {
  color: #9a9ea6;
}

.btn-primary {
  border: none;
  border-radius: 10px;
}

.btn-primary:hover {
  box-shadow: 0 3px 5px 1px #181e4b;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 0.5s;
}

.primary-color {
  color: #4475f2;
}

.color-text-black {
  color: black;
}

.line-height-1-9 {
  line-height: 1.9;
}

.text-uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
