@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #5e6282;
  padding: 70px 0 0 120px;
}

/*Helper classes*/

.mr-120 {
  margin-right: 120px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extrabold {
  font-weight: 800;
}

.inactive-link-color {
  color: #9a9ea6;
}

.btn-primary {
  border: none;
  border-radius: 10px;
}

.btn-primary:hover {
  box-shadow: 0 0 1px 3px #2e2490 inset;
}
.btn-primary:active {
  box-shadow: 0 0 3px 5px #2e2490 inset;
}

.primary-color {
  color: #4475f2;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

/* Navigation */
.hero-nav {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.hero-nav li a {
  margin-right: 40px;
}

.hero-nav a:active,
.hero-nav a:hover {
  color: #4737ff;
}

.hero-website-name {
  color: #000000;
  margin-right: 125px;
  margin-left: 10px;
}

.hero-login-btn {
  background-color: white;
  color: black;
  width: 138px;
  height: 44px;
}

/*Hero Section*/
#hero-section {
  margin-top: 54px;
}
.hero-section-flex-position {
  width: 100%;
}

/*Hero Left side*/
.hero-section-left-container {
  align-content: space-between;
  width: 80%;
}

.hero-main-text {
  font-size: 76px;
  color: #181e4b;
  line-height: 1.1;
}

.hero-main-text-favbook {
  text-decoration: underline;
}

.hero-secondary-text {
  line-height: 1.9;
  width: 75%;
  letter-spacing: -4%;
  margin-top: 30px;
}

.hero-start-now-btn {
  height: 60px;
  width: 200px;
  margin-top: 34px;
  background-color: #4475f2;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Hero Right side */
.hero-section-right-container {
  position: relative;
  width: 720px;
  height: 650px;
}

.hero-top-books {
  justify-content: center;
  gap: 4rem;
}

.hero-bottom-books {
  align-items: flex-end;
  gap: 4rem;
}

.cover-bottom {
  width: 100%;
  height: 130%;
  bottom: 3%;
  background-color: #3f6cde;
  clip-path: polygon(0% 100%, 65% 0%, 100% 0%, 100% 100%);
  position: absolute;
  z-index: -2;
}
.cover-top {
  width: 100%;
  height: 130%;
  bottom: 3%;
  background-color: #4475f2;
  clip-path: polygon(65% 100%, 0% 0%, 100% 0%, 100% 100%);
  position: absolute;
  z-index: -1;
}
